# Ambiente Virtual
/venv/
*.venv

# Arquivos de cache do Python
__pycache__/
*.pyc

# Banco de dados local
*.sqlite3
db.sqlite3

# Arquivos de segredos (para senhas, chaves de API, etc.)
.env
*.env

# Arquivos de IDE (ex: VS Code, PyCharm)
.vscode/
.idea/

# Arquivos de log
*.log

.mypy_cache/